---
import Layout from "../../../../components/Layout.astro";
import type { Config, Media } from "@svsticky/content"
import sdk from "../../../../sdk";

export const getStaticPaths = () => [{params: {lang: "nl"}}, {params: {lang: "en"}}];
const { lang } = Astro.params as { lang: Config["locale"] };

const boards = (await sdk.find({ collection: "main-board", draft: false, locale: lang, limit: 0 })).docs;
boards.sort((a, b) => b.board_number - a.board_number);
const currentBoard = boards[0];
const oldBoards = boards.slice(1);
---

<Layout title={lang === "nl" ? "Besturen" : "Boards"}>
  <main>
    <section class="board-section">
      <div class="section-title">
        <h2>Huidig bestuur</h2>
      </div>

      <a href={`/${lang}/vereniging/bestuur/${currentBoard.board_number}`} class="current-board">
        <img 
            src={(currentBoard.picture as Media).url}
            alt={(currentBoard.picture as Media).alt}
        />

        <div class="current-info">
          <h3>Bestuur {currentBoard.board_number}</h3>
          <p class="year">{currentBoard.year}</p>
          <p class="odz">“{currentBoard.zinspreuk}”</p>
        </div>
      </a>
    </section>


    <!-- ========================= -->
    <!--   OUDE BESTUREN          -->
    <!-- ========================= -->

    <section class="board-section">
      <h2>Oude besturen</h2>

      <div class="old-board-grid">
        {oldBoards.map(board => 
          <a class="old-board-card" style={`border-color: ${board.colour}`} href={`/${lang}/vereniging/bestuur/${board.board_number}`}>
            <img src={(board.picture as Media).url} alt={(board.picture as Media).alt} />
            <p>Bestuur {board.board_number} | {board.year}</p>
          </a>
        )}
      </div>
    </section>
  </main>
</Layout>

<style>

main {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
  padding-bottom: 4rem;
  color: #242424;
}

/* ======================= */
/* Section title           */
/* ======================= */

h2 {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
}

/* ======================= */
/*  HUIDIG BESTUUR         */
/* ======================= */

.current-board {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto 6rem auto;
  border-radius: 1.6rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.06);

  padding-bottom: 8rem;
}

.current-board {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.current-board:hover img {
  transform: scale(1.025);
}

.current-board img {
  width: 100%;
  aspect-ratio: 16 / 7;
  object-fit: cover;
  object-position: center middle;
  display: block;
  border-radius: 1.6rem 1.6rem 0 0;
  transition: .5s;
}

/* Infobalk */
.current-info {
  width: 100%;
  background: linear-gradient(90deg, #f95902 0%, #ff9b52 100%);
  padding: 1.4rem 1.2rem 1.6rem;
  color: white;
  text-align: center;

  position: absolute;
  bottom: 0;
  left: 0;

  border-radius: 0 0 1.6rem 1.6rem;
  box-shadow: 0 0.6rem 1.3rem rgba(250,107,32,0.25);
}

.current-info h3 {
  margin: 0;
  font-size: 1.9rem;
  font-weight: 800;
}

.current-info .year {
  margin: 0.4rem 0;
  opacity: 0.95;
}

.current-info .odz {
  margin: 0;
  font-style: italic;
}


/* ======================= */
/* OUDE BESTUREN GRID      */
/* ======================= */

.old-board-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}

.old-board-card {
  height: 220px;
  border-radius: 1rem;
  padding: 0.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  border-width: .25rem;
  border-style: solid;
}

.old-board-card:hover img {
  transform: scale(1.05);
}

.old-board-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  object-position: center;
  transition: .5s;
}

.old-board-card p {
  padding: 0.4rem 0.6rem;
  background: rgba(0,0,0,0.25);
  border-radius: 0.4rem;
  z-index: 2;
}

@media (max-width: 900px) {
  .old-board-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .old-board-grid {
    grid-template-columns: 1fr;
  }
}

</style>
