---
import Layout from "../../../components/Layout.astro";
export const getStaticPaths = () => [{params: {lang: "nl"}}, {params: {lang: "en"}}];
const { lang } = Astro.params;
---

<Layout title={lang === "nl" ? "Activiteiten" : "Activities"}>
  <main>
    <h1>Activiteiten</h1>
    <section class="activiteiten-section">
      <h2>Komende <b>activiteiten</b></h2>
      <coming-activities data-api-url="https://koala.svsticky.nl/api/activities" class="activities-grid"></coming-activities>
    </section>

    <hr class="activities-separator" />

    <section class="activiteiten-section">
      <h2>Eerdere <b>activiteiten</b></h2>
      <past-activities data-api-url="https://koala.svsticky.nl/api/activities" />
    </section>
  </main>
</Layout>

<script>
interface Activity {
  thumbnail: string;
  name: string;
  start_date: string;
}

function createCard(activity: Activity): HTMLElement {
  const article = document.createElement("article");
  article.classList.add("activity-card", "past");

  const poster = document.createElement("img");
  poster.src = activity.thumbnail;
  poster.alt = activity.name;
  article.appendChild(poster);

  const info = document.createElement("div");
  info.classList.add("act-info");

  const title = document.createElement("h3");
  title.innerText = activity.name;
  info.appendChild(title);

  const time = document.createElement("time");
  const d = new Date(activity.start_date)
  time.innerText = `${d.getDate()}-${d.getMonth() + 1}-${d.getFullYear()}`;
  info.appendChild(time);

  article.appendChild(info);
  return article;
}

class ComingActivities extends HTMLElement {
  connectedCallback() {
    fetch(this.dataset["api-url"]!).then(resp => resp.json()).then(activities => {
      for (const activity of activities) {
        const element = createCard(activity);
        this.appendChild(element);
      }
    });
  }
}
customElements.define("coming-activities", ComingActivities);

const months = [
  "Januari",
  "Februari",
  "Maart",
  "April",
  "Mei",
  "Juni",
  "Juli",
  "Augustus",
  "September",
  "Oktober",
  "November",
  "December"
];

function createMonth(month: number, activities: Activity[]): HTMLElement {
  const monthBlock = document.createElement("div");
  monthBlock.classList.add("month-block");

  const monthTitle = document.createElement("h3");

  const thisMonth = new Date().getMonth();
  const thisYear = new Date().getFullYear();
  monthTitle.innerText = `${months[month]} ${month <= thisMonth ? thisYear : thisYear - 1}`;
  monthBlock.appendChild(monthTitle);

  const activitiesGrid = document.createElement("div");
  activitiesGrid.classList.add("activities-grid");

  for (const activity of activities) 
    activitiesGrid.appendChild(createCard(activity));
  
  monthBlock.appendChild(activitiesGrid);

  return monthBlock;
}

class PastActivities extends HTMLElement {
  connectedCallback() {
    const url = new URL(this.dataset["api-url"]!);
    const today = new Date();
    const threeMonthsAgo = new Date(today.getTime() - 1000 * 60 * 60 * 24 * 63);
    url.searchParams.append("from", `${threeMonthsAgo.getFullYear()}-${threeMonthsAgo.getMonth() + 1}-${threeMonthsAgo.getDate()}`);
    url.searchParams.append("to", `${today.getFullYear()}-${today.getMonth() + 1}-${today.getDate()}`);
    fetch(url).then(resp => resp.json()).then((activities: Activity[]) => {
      const months: Record<string, Activity[]> = {};
      for (const activity of activities) {
        const month = new Date(activity.start_date).getMonth()
        if (!months[month]) months[month] = [];
        months[month].push(activity);
      }

      const distanceToCurrentMonth = (m: string) => today.getMonth() - Number(m);
      const sortedMonths = Object.keys(months).toSorted((a, b) => distanceToCurrentMonth(a) - distanceToCurrentMonth(b));
      for (const month of sortedMonths) {
        const activitiesInMonth = months[month].toSorted((a, b) => new Date(b.start_date).getTime() - new Date(a.start_date).getTime());
        this.appendChild(createMonth(Number(month), activitiesInMonth));
      }
    });
  }
}
customElements.define("past-activities", PastActivities);
</script>

<style lang="scss" is:global>
main {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
  padding-bottom: 4rem;
  color: #242424;
}

h1, h2, h3 {
  hyphens: auto;
}

h1 b, h2 b, h3 b {
  color: #fa6b20;
}

/* =============== ACTIVITEITEN PAGINA =============== */

.activiteiten-section {
  margin: 4rem 0;
}

.activities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;
}

.activity-card {
  background: white;
  border-radius: 1.4rem;
  overflow: hidden;
  transition: transform 0.15s ease;

  box-shadow:
    0 1rem 2.5rem rgba(0,0,0,0.06),
    0 0.4rem 1rem rgba(0,0,0,0.04);
}

.activity-card:hover {
  transform: translateY(-4px);
}

.activity-card img {
  width: 100%;
  display: block;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}

.act-info {
  padding: 1rem 1.4rem;
}

.act-info h3 {
  margin: 0;
  font-size: 1.2rem;
}

.act-info time {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  opacity: 0.75;
}

.activity-card.past {
  opacity: 0.9;
}

.activities-separator {
  margin: 5rem 0 3rem;
  border: 0;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(0,0,0,0.15),
    transparent
  );
}

.month-block {
  margin-bottom: 4rem;
}

.month-title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  opacity: 0.85;
}
</style>
