---
interface Props { lang: "nl" | "en" }
const { lang } = Astro.props;

const menus = [
    { title: "Home", to: "/" },
    { title: "Vereniging", submenu: [
        { title: "Activiteiten", to: "/vereniging/activiteiten" },
        { title: "Bestuur", to: "/vereniging/bestuur" },
        { title: "Commissies", to: "/vereniging/commissies" },
        { title: "Contact", to: "/vereniging/contact" }
    ] },
    { title: "Studie", submenu: [
        { title: "Medezeggenschap", to: "/studie/medezeggenschap" },
        { title: "OER", to: "/studie/oer" },
        { title: "Boekverkoop", to: "https://svsticky.nl/boeken" }
    ] },
    { title: "Carriere", submenu: [
        { title: "Partners", to: "/carriere/partners" },
        { title: "Samenwerking", to: "/carriere/samenwerking" },
        { title: "Vacatures", to: "/carriere/vacatures" }
    ] },
    { title: "Koala", to: "https://koala.svsticky.nl", type: "button" },
    { title: "Word lid", to: "https://wordlid.svsticky.nl", type: "button" }
];

function localiseUrl(url: string) {
    if (url.startsWith("http")) {
        return url;
    } else {
        return `/${lang}${url}`;
    }
}
---

<nav class="px-6 flex h-16 justify-between bg-[#fa6b20]">
    <img
        class="self-start h-full py-2"
        src="https://public.svsticky.nl/logos/logo_compact_outline_wit.svg"
        alt="Logo SV Sticky"
    />
    <ul class="h-full flex flex-row gap-4">
        {menus.map(menu => (
            <li class="my-auto relative">
                {menu.to
                    ? menu.type === "button"
                        ? <a href={localiseUrl(menu.to)} class="text-[#fa6b20] bg-white rounded-lg px-4 py-2">{menu.title}</a>
                        : <a href={localiseUrl(menu.to)} class="text-white">{menu.title}</a>
                    : <a data-menu class="text-white cursor-pointer select-none">
                        {menu.title}
                        <i class="fa-solid fa-caret-down transition-transform" />
                      </a>}
                {menu.submenu && <ul class="absolute top-6 left-1/2 -translate-x-1/2 flex-col bg-white border border-[#999999] rounded text-center z-10 px-4" style="display: none">
                    {menu.submenu.map(submenu => (
                        <li class="py-2 not-last:border-b not-last:border-[#999999]">
                            <a class="w-full hover:-translate-y-1 inline-block transition-transform" href={localiseUrl(submenu.to)}>
                                {submenu.title}
                                {submenu.to.startsWith("http") && <i class="text-sm fa-solid fa-arrow-up-right-from-square" />}
                            </a>
                        </li>
                    ))}
                </ul>}
            </li>
        ))}
    </ul>
</nav>

<script>
    let opened_submenu: HTMLElement | null = null;
    
    function close_menu(menu: HTMLElement) {
        const icon = menu.querySelector(".fa-solid") as HTMLElement;
        const submenu = menu.nextElementSibling as HTMLElement;

        submenu.style.display = "none";
        icon.style.rotate = "0deg";
        icon.style.translate = "0";
    }
    
    function open_menu(menu: HTMLElement) {
        const icon = menu.querySelector(".fa-solid") as HTMLElement;
        const submenu = menu.nextElementSibling as HTMLElement;

        if (opened_submenu)
            close_menu(opened_submenu.querySelector("a[data-menu]")!);
        opened_submenu = menu.parentElement;

        submenu.style.display = "flex";
        icon.style.rotate = "180deg";
        icon.style.translate = "0 2px";
    }

    function toggle_menu(menu: HTMLElement) {
        const submenu = menu.nextElementSibling as HTMLElement;
        submenu.style.display === "none" ? open_menu(menu) : close_menu(menu);
    }

    const menus = Array.from(document.querySelectorAll("a[data-menu]")) as HTMLElement[];
    for (const menu of menus) {
        menu.addEventListener("click", () => { toggle_menu(menu); });
    }

    document.addEventListener("click", e => {
        const target = e.target as HTMLElement;
        if (opened_submenu && !opened_submenu.contains(target)) 
            close_menu(opened_submenu.querySelector("a[data-menu]")!);
    });
</script>